body {
  margin: 0;
  padding: 0;
  color: black;
}
.info_container {
  background-image: url('../source/car2.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
    flex-direction: column;
}

.container{
    background-color:white;
  border-radius: 15px;
  width: 300px;
  height: 380px;
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.5);
  border:1px solid  #D2D0D0;
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.container div{
  background-color:white;
}
.listofvehicle {
  background-color:rgba(255,255,255,0.3);
  width: max-content;
  margin-left: 100px;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
 
}
.confirmbutton{
  background-color:rgb(162, 224, 215);
  border-radius:10px;
  border: none;
  padding:6px 10px;
  margin-left:30px;
  margin-bottom:30px;
  font-family: 'Courier New', Courier, monospace;;
  width:200px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: large;

}

.confirmbutton:hover{
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .listofvehicle {
    grid-template-columns: 1fr;
    
  }
  body{
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 1300px) {
  .listofvehicle {
    grid-template-columns: 1fr 1fr;
  }
  body{
    overflow-y: scroll;
  }
}